@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
.flex-box {
  background-color: aquamarine;
  width: 100%;
  max-width: 800px;
  min-width: 290px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 2%;
}
.flex-box li {
  width: calc((100% -8%) / 5);
}
.flex-box li a img {
  width: 100%;
}
@media all and (max-width: 768px) {
  .flex-box li {
    width: calc(100% -4% / 3);
  }
}
@media screen and (max-width: 480px) {
  .flex-box li {
    width: calc((100% - 2%) / 2);
  }
}
@media screen and (max-width: 390px) {
  .flex-box li {
    width: 100%;
  }
}
